<%- include('partials/header') %>
<% if (req.session.userid) { %>
<head>
  <meta http-equiv='refresh' content='0; URL=/'>
</head>
<section class="container">
  <h4>Please Login! Redirecting..</h4>
</section>
<% } else { %>
<section class="h-100 h-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
            class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
            alt="Sample photo">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Login</h3>
            <% if (error) { %>
              <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                <strong>Error: </strong> <%= error.message %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            <% } %>
            <form id="registerForm" action="/users/authentications" method="post">
              <div class="form-floating d-block">
                <input name="username" type="text" class="form-control" id="floatingInput" placeholder="username" required>
                <label for="floatingInput">Username</label>
              </div>
              
              <div class="form-floating mt-3">
                <input name="password" type="password" class="form-control" id="floatingInput" placeholder="password" minlength="8" required>
                <label for="floatingInput">Password</label>
              </div>
              <button type="submit" class="btn btn-success mt-3 w-100 py-2">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% } %>
<%- include('partials/footer') %>